@font-face {
  font-family: "KG Small Town Southern Girl";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/kgsmalltownsoutherngirl.eot?#iefix") format("embedded-opentype"), url("../fonts/kgsmalltownsoutherngirl.woff") format("woff"), url("../fonts/kgsmalltownsoutherngirl.ttf") format("truetype"), url("../fonts/kgsmalltownsoutherngirl.svg#kg_small_town_southern_girlRg") format("svg")
}
